<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightJelly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{448,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,422}}</string>
                <key>sourceSize</key>
                <string>{448,422}</string>
            </dict>
            <key>lightJelly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{448,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,431}}</string>
                <key>sourceSize</key>
                <string>{448,431}</string>
            </dict>
            <key>lightJelly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,442}}</string>
                <key>sourceSize</key>
                <string>{448,442}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightJelly.png</string>
            <key>size</key>
            <string>{452,1303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d686ed137f6cb8c5af63cc083f19c122:343d640c04eeb6f907b6ff5e71a4ccb3:2a29a1cffbcb10670463b3945629bcf6$</string>
            <key>textureFileName</key>
            <string>lightJelly.png</string>
        </dict>
    </dict>
</plist>
