<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redJelly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{444,422}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,422}}</string>
                <key>sourceSize</key>
                <string>{448,424}</string>
            </dict>
            <key>redJelly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{448,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,432}}</string>
                <key>sourceSize</key>
                <string>{448,432}</string>
            </dict>
            <key>redJelly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,442}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,442}}</string>
                <key>sourceSize</key>
                <string>{448,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redJelly.png</string>
            <key>size</key>
            <string>{452,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf81b511341bd73d49cafb30aefcc42d:71734d2d47e4597cc337d448ceff25be:de7a81eda3e512492966827b48691035$</string>
            <key>textureFileName</key>
            <string>redJelly.png</string>
        </dict>
    </dict>
</plist>
