<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redJelly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{334,318}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,318}}</string>
                <key>sourceSize</key>
                <string>{336,318}</string>
            </dict>
            <key>redJelly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{336,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,324}}</string>
                <key>sourceSize</key>
                <string>{336,324}</string>
            </dict>
            <key>redJelly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,333}}</string>
                <key>sourceSize</key>
                <string>{336,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redJelly.png</string>
            <key>size</key>
            <string>{340,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84d6d494d49a1f44f8f27eaf76447665:5d1298696fb829f05fac9ca4949de49f:de7a81eda3e512492966827b48691035$</string>
            <key>textureFileName</key>
            <string>redJelly.png</string>
        </dict>
    </dict>
</plist>
