<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightJelly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{112,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>lightJelly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>lightJelly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightJelly.png</string>
            <key>size</key>
            <string>{116,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0cb9ffc3514e5448d61489c9ec144c:45ba913767082e3cae40f40aa884e40a:2a29a1cffbcb10670463b3945629bcf6$</string>
            <key>textureFileName</key>
            <string>lightJelly.png</string>
        </dict>
    </dict>
</plist>
