<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightJelly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>lightJelly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{224,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,216}}</string>
                <key>sourceSize</key>
                <string>{224,216}</string>
            </dict>
            <key>lightJelly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,222}}</string>
                <key>sourceSize</key>
                <string>{224,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jellyfish.png</string>
            <key>size</key>
            <string>{228,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a89cb3cff1b00fcd15156f0e9bdbde:5d6b73156719b185e9acd8c166ff2e47:a979af78b28e0d90b2abe3daa9fe4eb1$</string>
            <key>textureFileName</key>
            <string>Jellyfish.png</string>
        </dict>
    </dict>
</plist>
